{% extends "account/base.html" %}

{% load i18n %}

{% block title %}<title>Danielle - Confirmar e-mail</title>{% endblock %}

{% block content %}

<div class="row justify-content-center">
  <div class="col-xl-10 col-lg-12 col-md-9">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row" style="min-height:80vh; ">
          <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
          <div class="col-lg-6  my-auto">
            <div class="px-5">
              <div class="text-center">
                <h1>{% trans "Verify Your E-mail Address" %}</h1>
                {% include 'messages.html' %}
                <p>
                  Enviamos um e-mail de confirmação. Clique no link enviado para finalizar o cadastro.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

{% endblock %}