{% extends 'base.html' %} {% load static %}

{% block title %}
    <h1 id="page-title">Checkins de outros usuários</h1>
{% endblock %}

{% block content %} 
  <div class="card shadow mb-4">
    <div
      class="card-header py-3"
      style="display: flex; align-items: center; justify-content: space-between"
    >
      <h6 class="m-0 font-weight-bold text-primary">Checkins</h6>
      <a href="cadastrar/"
        ><i class="fa fa-plus" aria-hidden="true"></i
      ></a>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Nome</th>
              <th>Entrada</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Nome</th>
              <th>Entrada</th>
              <th>Ações</th>
            </tr>
          </tfoot>
          <tbody>
            {% for checkin in checkins %}
            <tr>
              <td>{{checkin.person__name}}</td>
              <td>{{checkin.created_at}}</td>
              <td>
                {% if checkin.active %}
                  <div class="d-inline-flex">

                    <a class="btn btn-sm btn-primary mr-1" role="button" href="/checkins/outros/{{checkin.id}}/editar/">
                      Editar
                    </a>
                    <form onsubmit="return confirm('Você realmente deseja fechar este checkin? Esta operação é irreversível!');" action="/checkins/outros/{{checkin.id}}/fechar/" method="POST">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-sm btn-danger">Fechar</button>
                    </form>
                  </div>
                {% else %}
                  Checkin fechado
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}
